# set
A set is a data collection type used in Python for storing multiple items in a single variable. Sets in Python are unordered and, as such, are not always consistent in the order they get returned. Furthermore, items in the set are immutable — ie. cannot be changed. However, items can be added and removed.

Duplicates are not permitted with Python data sets and will be removed. It is also noteworthy that the Python set supports any data type — including numbers, strings, and booleans — but also has some support for nested data structures.

# How to Create a Set in Python
The standard declaration approach for creating a Python set uses curly bracket notation. It is the most commonly used approach and has a very simple syntax. Let's look at that next.
snekSet = {"Boa", "Python", "Garter"}
The set constructor is another approach for creating Python sets. This method is more direct and offers other benefits, such as creating more complex set instances.

# Empty Set
To make an empty set in Python, use the set() function with no arguments; if we use empty curly brackets "{}", we will get an empty dictionary.

In [1]:
myEmptySet = set()
print(type(myEmptySet))

<class 'set'>

In [4]:
# creating an empty set
#empty.set=seta()
#creating a set with elements
fruits={'apple','banana','orange'}

In [6]:
#converting a list into set 
numbers= set([1,2,3,4,5,6])
print(numbers)

{1, 2, 3, 4, 5, 6}

# adding of items to a set in python

In [18]:
numbers={23,45,6,7,8,97,45,76,}
print('initial set', numbers)
#using add() mrthod
numbers.add(22) 
print('updated set')

initial set {97, 23, 6, 7, 8, 76, 45}
updated set

In [19]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

# removing of elements

There are a couple of other ways to remove an element(s) from a set:

the discard(x) method removes x from the set, but doesn't raise any error if x is not present in the set.
the pop() method removes and returns a random element from the set.
the clear() method removes all elements from a set

# Python set() Operations

If you remember your basic high school math, you'll probably recall mathematical set operations like union, intersection, difference and symmetric difference. Well, you can achieve the same thing with Python sets.

# 1. Set Union
The union of two sets is the set of all the elements of both the sets without duplicates. You can use the union() method or the | syntax to find the union of a Python set.

In [23]:
>>> first_set = {1, 2, 3}
>>> second_set = {3, 4, 5}
>>> first_set.union(second_set)

{1, 2, 3, 4, 5}

# 2. Set Intersection
The intersection of two sets is the set of all the common elements of both the sets. You can use the intersection() method of the & operator to find the intersection of a Python set.

In [24]:

>>> first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.intersection(second_set)

{4, 5, 6}

# 3. Set Difference
The difference between two sets is the set of all the elements in first set that are not present in the second set. You would use the difference() method or the - operator to achieve this in Python.

In [25]:
>>> first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.difference(second_set)
{1, 2, 3}

{1, 2, 3}

In [26]:
>>> first_set - second_set     # using the `-` operator
{1, 2, 3}

{1, 2, 3}

# 4. Set Symmetric Difference
The symmetric difference between two sets is the set of all the elements that are either in the first set or the second set but not in both.

You have the choice of using either the symmetric_difference() method or the ^ operator to do this in Python.

In [27]:
>>> first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.symmetric_difference(second_set)

{1, 2, 3, 7, 8, 9}

In [28]:
>>> first_set ^ second_set     # using the `^` operator

{1, 2, 3, 7, 8, 9}